*{
    margin: o;
    padding: 0;
}

.main{
    width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%, rgba(0,0,0,0.5)50%), url(hello.jpeg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    font-family: sans-serif;

}

.navbar{
    width: 95%;
    height: auto;
    margin-left: 30px;
}

.logo{
    color: #ff7200;
    font-size: 40px;
    font-family: cursive;
    float: left;
    padding-top: .6%;
    cursor: pointer;
}
.menu{
    width: 600px;
    float: left;
    height: 70px;
}

ul{
    float: left;
    display: flex;
    padding-top: 30px;
    justify-content: center;
    align-items: center;
    margin-left: 14%;
}
ul li{
    list-style: none;
    margin-left: 60px;
    font-size: 16px;
}

ul li a{
    text-decoration: none;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    transition: .3s ease;
}

ul li a:hover{
    color: #ff7200;
}

.search{
    width: 330px;
    float: left;
    margin-left: 270px;
}

.srch{
    font-family: 'Times New Roman';
    width: 200px;
    height: 40px;
    background: transparent;
    border: 1px solid #ff7200;
    margin-top: 13px;
    color: #fff;
    border-right: none;
    font-size: 16px;
    float: left;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;
}
